<?xml version="1.0"?>
<launch>
    <arg name="owner" doc="The node name that launches this node."/>
    <arg name="node_name" default="node" doc="Set the node name."/>
    <group ns="$(arg owner)">
        <node name="$(arg node_name)" pkg="eagerx" type="rxnode.py" output="screen"/>
    </group>
</launch>