default:
  sensors: [observation, reward, done, image]
  actuators: [action]
  states: []
  gym_id: 'Pendulum-v1'
  rate: 20
  always_render: False

#########################
## Agnostic definition ##
#########################
sensors: # inputs of env
  observation:
    rate: $(default rate)
    msg_type: std_msgs.msg/Float32MultiArray
    space_converter:
      converter_type: eagerx_bridge_openai_gym.converters/GymSpaceFloat32MultiArray
      id: $(default gym_id)
      space: 'observation'
  reward:
    rate: $(default rate)
    msg_type: std_msgs.msg/Float32
    space_converter:
      converter_type: eagerx_bridge_openai_gym.converters/SpaceFloat32
      low: -99999
      high: 99999
      dtype: 'float32'
  done:
    rate: $(default rate)
    msg_type: std_msgs.msg/Bool
    space_converter:
      converter_type: eagerx_bridge_openai_gym.converters/SpaceBool
  image:
    rate: $(default rate)
    msg_type: sensor_msgs.msg/Image
    space_converter:
      converter_type: eagerx_bridge_openai_gym.converters/SpaceImage
      low: 0
      high: 1
      shape: [28, 28, 3]
      dtype: 'float32'

actuators: # outputs of env
  action:
    rate: $(default rate)
    msg_type: std_msgs.msg/Float32MultiArray
    space_converter:
      converter_type: eagerx_bridge_openai_gym.converters/GymSpaceFloat32MultiArray
      id: $(default gym_id)
      space: 'action'

states: {}

#########################
### Engine definition ###
#########################
eagerx_bridge_openai_gym/bridge:
  sensors:
    observation:
      node_config: eagerx_bridge_openai_gym/observation # These nodes cannot have an internal state
      outputs: [observation]
      color: cyan
      process: 2  # {0: NEW_PROCESS, 1: ENVIRONMENT, 2: BRIDGE, 3: EXTERNAL}
    reward:
      node_config: eagerx_bridge_openai_gym/reward # These nodes cannot have an internal state
      outputs: [reward]
      color: cyan
      process: 2  # {0: NEW_PROCESS, 1: ENVIRONMENT, 2: BRIDGE, 3: EXTERNAL}
    done:
      node_config: eagerx_bridge_openai_gym/done # These nodes cannot have an internal state
      outputs: [done]
      color: cyan
      process: 2  # {0: NEW_PROCESS, 1: ENVIRONMENT, 2: BRIDGE, 3: EXTERNAL}
    image:
      node_config: eagerx_bridge_openai_gym/render # These nodes cannot have an internal state
      outputs: [image]
      color: cyan
      process: 2  # {0: NEW_PROCESS, 1: ENVIRONMENT, 2: BRIDGE, 3: EXTERNAL}
      shape: [28, 28]

  actuators:  # Inputs as defined above
    action:
      node_config: eagerx_bridge_openai_gym/action
      inputs: {action: } # actuator input mapping to sim_node input name inside node_config
      color: green
      process: 2  # {0: NEW_PROCESS, 1: ENVIRONMENT, 2: BRIDGE, 3: EXTERNAL}
