opencv-python-headless==4.5.5.64
networkx==2.8.8
gymnasium==0.28.1
tabulate==0.8.9
PyYAML==6.0
rospkg==1.5.0
psutil==5.9.0
Rx==3.2.0
termcolor==1.1.0
defusedxml==0.7.1
netifaces==0.11.0
pyglet==1.5.23
sphinx-autodoc-typehints==1.18.1
Sphinx==4.5.0
sphinx-rtd-theme==1.0
PyVirtualDisplay==3.0
matplotlib==3.5.1
Pillow==8.4.0
numpy==1.21.2
scipy==1.6.3