opencv-python==4.3.0.36
networkx==2.5.1
gymnasium==0.28.1
tabulate==0.8.9
PyYAML==6.0
rospkg==1.3.0
psutil==5.9.0
Rx==3.2.0
termcolor==1.1.0
defusedxml==0.7.1
netifaces==0.11.0
pyglet==1.5.21
sphinx-autodoc-typehints==1.0
Sphinx==4.1.2
sphinx-rtd-theme==1.0
PyVirtualDisplay==3.0
matplotlib==3.0
Pillow==8.0
numpy==1.21.0
scipy==1.7.3